
.aboutUI {
    width: 50%;
    height: auto;
    padding: 2%;
    margin: 5% auto;
    border-radius: 10px;
    box-shadow: 2px 2px 15px black;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.44);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.7px);
    -webkit-backdrop-filter: blur(10.7px);
    border: 1px solid rgba(255, 255, 255, 0.85);
}

.aboutUI div {
    text-align: center;
    width: 75%;
    padding: 3% 1%;
    margin: 3% auto;
    border-bottom: 1px solid black;
    box-shadow: -1px -1px 5px white;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

@media (max-width: 425px) {
    .aboutUI {
        width: 90%;
        height: auto;
    }

    .aboutUI div {
        width: 98%;
    }
}