
.applyLoan,
.loanDetails {
    transform: scale(0, 0);
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 200%;
    transition: .3s;
}

.overlay {
    width: 100%;
    height: inherit;
    background-color: #00000080;
    cursor: crosshair;
}

.applyLoan .applyForm,
.loanDetails .loanHolder {
    top: 2%;
    left: 25%;
    position: absolute;
    margin-top: 10%;
    background-color: white;
    border-radius: 10px;
    padding: 2%;
    width: 50%;
}

.applyForm h2,
.loanDetails h2 {
    text-align: center;
}

.applyLoan form {
    margin-top: 5%;
    border: 1px solid #4077c0;
    border-radius: 10px;
    display: block;
    width: 100%;
}

.applyForm label {
    width: 70%;
    display: block;
    padding: 1%;
    margin: 3% auto;
}

.applyForm label span {
    font-weight: 500;
    font-size: large;
}

.applyForm select,
.applyForm input,
.applyForm textarea {
    display: block;
    width: 100%;
    padding-left: 3%;
    height: 35px;
    border: 1px solid #5f8eca;
    border-radius: 10px 10px 0 0;
    margin-top: 2%;
    font-size: medium;
}

.applyForm textarea {
    height: 100px;
    resize: none;
    padding: 2%;
}

.applyForm button {
    border: none;
    padding: 2% 5%;
    display: block;
    margin: 2% auto;
    border-radius: 10px;
    color: white;
    font-size: medium;
    font-weight: 700;
    background: linear-gradient(to bottom, #97c2fd 5%, #1e76e9);
    cursor: pointer;
    transition: .3s;
}

.applyForm button:disabled {
    background: #c9c7c7;
    cursor: not-allowed;
}

#calcWindow {
    display: none;
}

.applyForm .otherCalcBtns {
    margin-top: 2%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.otherCalcBtns #cancelApply {
    background: transparent;
    border: 1px solid #1e76e9;
    color: #1e76e9;
}

.loanDetails .loanHolder {
    height: 75%;
    overflow-y: auto;
}

.loanHolder .loanDetail {
    width: 95%;
    margin: 5% auto;
    padding: 2%;
    height: auto;
    /* background-color: #e2efffe0; */
    border-radius: 10px;
    box-shadow: inset 2px 2px 15px grey;
}

.loanDetail p {
    margin: 2% auto;
    font-size: large;
    border-bottom: 1px solid #4077c0;
    padding-bottom: 2%;
}

.loanDetail p span {
    margin-left: 3%;
    font-weight: 700;
    padding: 2%;
}

.badge {
    font-size: small;
}

.badge-warning {
    background-color: yellow;
}
.badge-info {
    background-color: teal;
}
.badge-primary {
    background-color: blue;
}
.badge-success {
    background-color: green;
}
.badge-danger {
    background-color: red;
}

.closeLoanD {
    display: block;
    padding: 3% 5%;
    border-radius: 10px;
    font-weight: 500;
    margin: 5% auto;
    color: black;
    border: 1px solid #5f8eca;
    box-shadow: inset 1px 1px 8px grey;
}

@media (max-width: 768px) {
    .overlayS {
        height: 100%;
        transform: translateX(-100%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .applyLoan .applyForm,
    .loanDetails .loanHolder {
        width: 75%;
        left: 12.5%;
    }
}

@media (max-width: 425px) {
    .applyLoan .applyForm,
    .loanDetails .loanHolder {
        width: 90%;
        left: 5%;
    }

    .applyForm label {
        width: 95%;
    }
}