.applyLoan,
.loanDetails,
.fillDetails {
    transform: scale(0, 0);
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100%;
    transition: .3s;
}

.overlay {
    width: 100%;
    height: inherit;
    background-color: #00000080;
    cursor: crosshair;
}

.applyLoan .applyForm,
.loanDetails .loanHolder,
.fillDetails .bankForm {
    top: 2%;
    left: 25%;
    height: 90%;
    overflow-y: auto;
    position: absolute;
    margin-top: 1%;
    background-color: white;
    border-radius: 10px;
    padding: 2%;
    width: 50%;
}

.applyForm h2,
.loanDetails h2 {
    text-align: center;
}

.applyLoan form {
    margin-top: 5%;
    border: 1px solid #4077c0;
    border-radius: 10px;
    display: block;
    width: 100%;
}

.applyForm label {
    width: 70%;
    display: block;
    padding: 1%;
    margin: 3% auto;
}

.applyForm label span {
    font-weight: 500;
    font-size: large;
}

.applyForm select,
.applyForm input,
.applyForm textarea {
    display: block;
    width: 100%;
    padding-left: 3%;
    height: 35px;
    border: 1px solid #5f8eca;
    border-radius: 10px 10px 0 0;
    margin-top: 2%;
    font-size: medium;
}

.applyForm textarea {
    height: 100px;
    resize: none;
    padding: 2%;
}

.applyForm button {
    border: none;
    padding: 2% 5%;
    display: block;
    margin: 2% auto;
    border-radius: 10px;
    color: white;
    font-size: medium;
    font-weight: 700;
    background: linear-gradient(to bottom, #97c2fd 5%, #1e76e9);
    cursor: pointer;
    transition: .3s;
}

.applyForm button:disabled {
    background: #c9c7c7;
    cursor: not-allowed;
}

#calcWindow {
    display: none;
}

.applyForm .otherCalcBtns {
    margin-top: 2%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.otherCalcBtns #cancelApply {
    background: transparent;
    border: 1px solid #1e76e9;
    color: #1e76e9;
}

.loanHolder .loanDetail {
    width: 95%;
    margin: 5% auto;
    padding: 2%;
    height: auto;
    /* background-color: #e2efffe0; */
    border-radius: 10px;
    box-shadow: inset 2px 2px 15px grey;
}

.loanDetail p {
    margin: 2% auto;
    font-size: large;
    border-bottom: 1px solid #4077c0;
    padding-bottom: 2%;
}

.loanDetail p span {
    margin-left: 3%;
    font-weight: 700;
    padding: 2%;
}

.badge {
    font-size: small;
    color: white;
    border-radius: 10px;
    transition: .5s;
}

.badge-warning {
    background-color: yellow;
}

.badge-info {
    background-color: teal;
}

.badge-primary {
    background-color: blue;
}

.badge-success {
    background-color: green;
}

.badge-danger {
    background-color: red;
}

.closeLoanD {
    display: block;
    padding: 3% 5%;
    border-radius: 10px;
    font-weight: 500;
    margin: 5% auto;
    color: black;
    border: 1px solid #5f8eca;
    box-shadow: inset 1px 1px 8px grey;
}

.withdraw {
    width: fit-content; cursor: pointer; padding: 2%; background: orange; border-radius: 10px;
}

.fillDetails .bankForm {
    height: 60vh;
    background: rgba(255, 255, 255, 0.44);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.7px);
    -webkit-backdrop-filter: blur(10.7px);
    border: 1px solid rgba(255, 255, 255, 0.85);
}
.bankForm form {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
}
.bankForm input {
    display: block;
    padding-left: 2%;
    border: none;
    height: 35px;
    width: 75%;
    border-radius: 10px;
}
.bankForm button {
    color: white;
    border: none;
    padding: 3%;
    cursor: pointer;
    border-radius: 10px;
    background: linear-gradient(to bottom, #97c2fd 5%, #1e76e9);
}

@media (max-width: 768px) {
    .overlayS {
        height: 100%;
        transform: translateX(-100%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .applyLoan .applyForm,
    .loanDetails .loanHolder,
    .fillDetails .bankForm {
        width: 75%;
        left: 12.5%;
    }

    .fillDetails .bankForm {
        top: 15%;
    }
}

@media (max-width: 425px) {

    .applyLoan .applyForm,
    .loanDetails .loanHolder,
    .fillDetails .bankForm {
        width: 90%;
        left: 5%;
    }

    .applyLoan .applyForm {
        height: 75%;
    }

    .fillDetails .bankForm {
        height: 50vh;
    }

    .applyForm label {
        width: 95%;
    }

    .bankForm h2 {
        font-size: medium;
    }

    .bankForm input {
        width: 100%;
    }
}