* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    position: relative;
    padding: 0 1%;
    width: 100vw;
}

.mNav {
    display: none;
}

.nav,
.otherNavs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    color: white;
    padding: 2%;
    background: linear-gradient(to bottom, #5f8eca 65%, #4077c0);
    border-radius: 0 0 20px 20px;
    box-shadow: 0 2px 15px grey;
    transition: .5s;
}

.nav:hover {
    padding-bottom: 4%;
    box-shadow: 0 4px 5px #494949;
}

.nav h1 {
    width: 48%;
}

.nav .fa-xmark {
    display: none;
}

.nav .otherNavs {
    width: 50%;
}

.otherNavs a {
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    padding: 2%;
}

.otherNavs a.logOut {
    font-size: x-large;
}

.otherNavs a:hover {
    background-color: #4077c0;
}

.pageUI {
    margin-top: 5%;
}

.pageUI .cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cards .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    width: 40%;
    height: 250px;
    box-shadow: 2px 2px 15px grey;
    border-radius: 5px;
    color: #4077c0;
    background-image: url('../images/cardback.jpg');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
}

.card .cardHead {
    width: 100%;
    font-size: x-large;
    font-weight: 700;
}

.card .cardHead span {
    font-size: 1.8rem;
    color: black;
    margin-left: 5%;
}

.card .cardTail {
    width: 100%;
    margin-top: 20%;
}

.cardTail small {
    text-decoration: underline;
    cursor: zoom-in;
}

.cardTail span {
    cursor: pointer;
    margin-left: 50%;
    color: black;
    font-size: medium;
    font-weight: 500;
    padding: 2%;
    border-radius: 10px;
    background: linear-gradient(to bottom, #f8ead0 10%, orange);
}

@media (max-width: 768px) {
    body {
        padding: 0;
    }

    body .nav {
        display: block;
        transform: translateX(-100%);
        top: 1px;
        width: 80vw;
        height: 100%;
        box-shadow: 1px 1px 10px black;
        left: 0;
        position: absolute;
        z-index: 2;
    }

    .nav .otherNavs {
        height: 75vw;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }

    .nav .fa-xmark {
        display: inline;
    }

    .nav h2 {
        display: flex;
        justify-content: flex-end;
    }

    body .mNav {
        display: block;
        padding: 5% 2%;
        background: linear-gradient(to bottom, #5f8eca 65%, #4077c0);
        border-radius: 0 0 20px 20px;
    }

    .mNav .mNavHead {
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mNavHead span {
        margin-right: 5%;
    }

    .mNavHead a {
        font-weight: 700;
        padding: 2%;
        border-radius: 5px;
        color: white;
    }

    .pageUI .cards {
        flex-direction: column;
    }

    .cards .card {
        width: 75%;
        margin: 2% auto;
    }
}

@media (max-width: 425px) {
    .cards .card {
        width: 90%;
    }

    .cardTail span {
        margin-left: 35%;
    }

    .card .cardHead {
        font-size: medium;
    }

    .card .cardHead span {
        font-size: 1.5rem;
    }
}