
.settingUI {
    width: 50%;
    height: 50vh;
    padding: 2%;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 15px black;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.44);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.7px);
    -webkit-backdrop-filter: blur(10.7px);
    border: 1px solid rgba(255, 255, 255, 0.85);
}

.settingUI div {
    font-weight: 500;
    width: 50%;
    padding: 3% 1%;
    margin: 3% auto;
    border-bottom: 1px solid black;
    box-shadow: -1px -1px 5px white;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

.settingUI .icon {
    font-size: large;
    font-weight: 700;
    padding: 1% 3%;
}

.settingUI div:hover {
    background-color: white;
}

.upForm {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: scale(0, 0);
    transition: .3s;
}

.upForm .popForm {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    height: 40vh;
    background-color: white;
    padding: 2%;
    border-radius: 10px;
}

.popForm label,
.popForm input {
    display: block;
    width: 80%;
    margin: 3% auto;
}

.popForm span {
    font-size: medium;
    font-weight: 500;
}

.popForm input {
    width: 100%;
    margin: 1% auto;
    height: 35px;
    font-size: medium;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    padding: 1% 2%;
}

.popForm button {
    display: block;
    margin: 5% auto;
    padding: 3%;
    font-size: medium;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(to bottom, #5f8eca 65%, #4077c0);
}



@media (max-width: 425px) {
    .settingUI {
        width: 100%;
        height: auto;
        margin: 15% auto;
    }

    .settingUI div,
    .upForm .popForm {
        left: 2.5%;
        width: 95%;
    }

    .popForm label {
        margin: 10% auto;
        width: 100%;
    }

    .popForm input {
        box-shadow: 1px 1px 5px #474747;
    }

    .popForm button {
        margin: 10% auto;
    }
}