<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>SunCash</title>
</head>

<body>
    <div class="loginUI">
        <section class="headTitle">
            <h1>SUNCash Loan App</h1>
            <p>Online loan, as fast as 5 minutes</p>
        </section>
        <main>
            <h2>Sign Up</h2>
            <form>
                <label><span>First Name:</span><input type="text" placeholder="FirstName" /></label>
                <label><span>Middle Name:</span><input type="text" placeholder="MiddleName" /></label>
                <label><span>Last Name:</span><input type="text" placeholder="LastName" /></label>
                <label><span>Email:</span><input type="email" placeholder="Input your Email" /></label>
                <label><span>Phone Number:</span><input type="tel" placeholder="Phone No." /></label>
                <label><span>NIN Number:</span><input type="text" placeholder="NIN ID" /></label>
                <label><span>Your Address:</span><textarea placeholder="Your Address" ></textarea></label>
                <label><span>Password:</span><input type="password" placeholder="Input your Password" /></label>
                <button type="submit">SIGN UP</button>
            </form>
            <p class="signUp">Already have an account? <a href="../index.html" class="signUpLink">Login</a></p>
        </main>
    </div>
</body>

</html>